<table class="table table-striped" style="width: 50%; align-content:center">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Harvesting Date</th>
      <th scope="col">Expiry Date</th>
    </tr>
  </thead>
  <tbody>
    <tr >
      <td>{{supplyAd.name}}</td>
      <td>{{supplyAd.price}}</td>
      <td>{{supplyAd.quantity}}</td>
      <td>{{supplyAd.hDate}}</td>
      <td>{{supplyAd.des}}</td>
      <td>

      </td>
    </tr>
  </tbody>
</table>