<table class="table table-striped" style="width: 50%">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Max Price</th>
      <th scope="col">Min Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Harvesting Date</th>
      <th scope="col">Expiry Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dem of demandAdService.demandAds">
      <td>{{dem.name}}</td>
      <td>{{dem.minPrice}}</td>
      <td>{{dem.maxPrice}}</td>
      <td>{{dem.quantity}}</td>
      <td>{{dem.hDate}}</td>
      <td>{{dem.eDate}}</td>

    </tr>
  </tbody>
</table>